.cutive-mono {
    font-family: 'Cutive Mono', monospace;
}

.background-fayda::before {
    background-image: url("/images/Great-Mosque-of-Djenne-300x125.jpeg");
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    content: "";
}

.background-fayda {
    position: relative; 
    
}

.fayda-text {
    color: #6d1412;
}

.fayda-logo-body {
    display: block;
    margin: 0 auto;
    height: 171px;
    width: 300px;
}

.paypal-donate-button {
    display: block;
    margin: 0 auto;
    width: 125px;
    padding: 50px 0 0px 0;
}



.donate-button {
    display: block;
    margin: 0 auto;
}

.donation-appeal {
    width: 80%;
    display: block;
    margin: 0 auto;
    max-width: 540px; 
    padding-top: 30px;
}


.hadith {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    max-width: 520;
}

footer {
    /*background-color: #02260F;*/
    background-color: #6f6a6a;
    color: #fff;
    margin-top: 30px;
    width: 100%;
    font-size: .85em;
}

.footer-hr {
    width: 50%;
    max-width: 520px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo {
    width: 125px;
    height: 125px;
    display: block;
    margin: 0 auto;
}

@media (min-width: 720px) {
   
    .fayda-logo-body {
        width: 400px;
        height: 228px;
    }

    .paypal-donate-button {
        width: 165px;
    }

    footer {
        font-size: 1em;
    }
}